@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

/* global font */
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ✅ custom clip-path classes (NO @layer in v4) */
.clip-path-custom{
  clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%, 0 100%);
}

.clip-path-custom-2 {
  clip-path: polygon(0 0, 100% 0, 100% 98%, 25% 95%, 0 100%);
}

.clip-path-custom-3 {
  clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 96%, 0 100%);
}

  